<div class="container">
  <h1 class="text-center">About</h1>

  <div class="center">
    <div class="text-center rounded-pill" style="background-color:#20c997">
      <div></div><br>
      全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
      ぜひご注文ください。
    </div>
  </div>
</div>